img {
  position:absolute;
  left: 10%;
  border-radius: 20px;
  width: 130px;
}
body {
  background-image: url('books.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat;
}

h1{
  color:white;
}
h2{
  color:white;
}
h3{
  color:white;
}
