<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
   </head>
   <body style="font-size: large;">
   <div class="container">
   <h1 style = "text-align:center">All Registered Users</h1><br>
   <p style = "text-align:center">This table consists of all registered users along with the creation timestamp</p>
      <table border = 1 align = "center">
         <th> {{ "Emailid" }}</th>
         <th> {{ "Password" }}</th>
         <th> {{ "TimeStamp" }}</th>
         {% for item in admin %}
            <tr>
               <td> {{ item.emailid}} </td>
               <td> {{ item.password}} </td>
               <td> {{ item.timestamp }}</td>
            </tr>
         {% endfor %}
      </table>
   </div>
   </body>
</html>