{% extends 'generictemplate.html' %}
{% block links %}
<link rel ="stylesheet" href = "{{url_for('static', filename='book_page.css')}}" />
<link rel ="stylesheet" href = "{{url_for('static', filename='bookpage.css')}}" />

{% endblock %}
{% block title %}
<title>Book_Page</title>
{% endblock %} 

{% block body %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top justify-content-between">
    <a class="navbar-brand">Books</a>
    <ul class="navbar-nav">
      <li class = "navbar-brand">
        {{ user }}
      </li>
      <li class="nav-item">
        <form class="form-inline">
          <button type="submit" formaction = "/logout">Logout</button>
        </form>
      </li>
    </ul>
  </nav>
    <br><br><br>
    <h1 style = "text-align:center">The Book Details Here!!!</h1><br><br>
    <div class = "container" align = "center">
        <div class = "row">
            <div class = "col-lg-4"><img  style = "margin-left:250px;" src = "http://covers.openlibrary.org/b/isbn/{{Book_details.isbn}}.jpg" alt = {{Book_details.title}}/></div>
            <div class = "col-lg-4"><table  >
        
                 
                <tr>
                  <th>ISBN:</th>
                  <td>{{Book_details.isbn}}</td>
                  
                </tr>
                <tr>
                  <th>TITLE:</th>
                  <td>{{Book_details.title}}</td>
                </tr>
                <tr>
                  <th>AUTHOR:</th>
                  <td>{{Book_details.author}}</td>
                </tr>
                <tr>
                  <th>YEAR:</th>
                  <td>{{Book_details.year}}</td>
                </tr>
              </table></div>
            <div class = "col-lg-4"></div>
        </div>
      
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
     
      

        <div class="smart-wrap">         
        <h1 style = "text-align: center;"><i class="comments"></i> Review </h1>
            <form method = "POST" action= "{{url_for('books', id = Book_details.isbn)}}">
               
                <div class="stars">
                    <h2 style = "text-align: center;">Rate this article</h2>
                    <input class="star star-5" id="star-5" type="radio" name="rating" value="5"/>
                    <label class="star star-5" for="star-5"></label>
                
                    <input class="star star-4" id="star-4" type="radio" name="rating"value="4"/>
                    <label class="star star-4" for="star-4"></label>
                
                    <input class="star star-3" id="star-3" type="radio" name="rating"value="3"/>
                    <label class="star star-3" for="star-3"></label>
                
                    <input class="star star-2" id="star-2" type="radio" name="rating"value="2"/>
                    <label class="star star-2" for="star-2"></label>
                
                    <input class="star star-1" id="star-1" type="radio" name="rating"value="1"/>
                    <label class="star star-1" for="star-1"></label>
                </div>
                <div class="section" align = center>
                    <label class="field prepend-icon">
                        <textarea class="gui-textarea" id="comment" name="comment" placeholder="Enter message..."></textarea>
                        <span class="field-icon"><i class="fa fa-comments"></i></span>
                    </label>
                </div>
              
                <div class="form-footer">
                    <button type="submit" class="button btn-blue">submit</button>
                </div>
            </form>
        </div><br>

{% if var1 %}

<div class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
     {{var1}}

</div>
{%endif%}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for var1 in messages %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
             {{var1}}
        
        </div>

        {% endfor %}
    {% endif %}
{% endwith %}

<br>
{% if comments %}
<h2 style = "text-align: center;"> Previous Comments</h2>
{% for item in comments%}
<div class="tableScroll">
<div class="card " style="width: 40rem; background-color: white;">
        <div class="card-body">
        <h5 class="card-title">Email: {{item.email}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Rating: {{item.rating}}</h6>
        <p class="card-text">Comment: {{item.comment}}</p>
        </div>
    {% endfor %}
</div>
{% endif %}
</div>
    </div>
{% endblock %}


